
@{
    ViewBag.Title = "Customer";
}

<h2>Welcome to your Customer Page</h2>

<div class="col-md-4">
    <h4>View Previous Orders:</h4>
    <div class="list-group">
        <!--link to view customer previous orders-->
        @Html.ActionLink("My Orders", "MyOrders", "OrderManager", null, new { @class = "list-group-item" })
    </div>
</div>

<div class="col-md-12 clearfix" />