@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<br/><br/>

<p>Wizard Sports is a Newcastle based company that is inspired the Wizarding World of Harry Potter and Wizards who play the genius sport of Quidditch. <br />
    Our aim is to inspire all individuals to play whatever sport they want, including Quidditch! <br /><br /></p>
<p>Get in contact with our friendly customer service team who can assist with all queries and complaints! <br /><br /></p>

<p><b>Contact Details:</b> <br />
    Wizard Sports <br />
    1 Barrack Road <br />
    Newcastle upon Tyne <br />
    NE1 4ST <br />
    contact-us@wizardsports.com <br />
    01670 712345</p>

  