@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<br/><br/>

<p>Wizard Sports is a Newcastle based company that is inspired by the belief that the best sports products should be accessible to everyone.</p>

