@model WizardSports.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Members Only";
}

<h2>Welcome to the Members Only Page!</h2>

<!--insert special news and discounts-->

<br /><br />
<h3>Members Only Discounts:</h3>
<p>Members Only discounts are applied on the products page to users who are logged in! Enjoy your shopping experience as one of our valued customers.</p>
<br /><br />
<h3>Special News:</h3>

