
@{
    ViewBag.Title = "Advert";
}

<h2>Purchase Premium Membership!</h2>
<br />
<br />
<br />
<p>Purchase premium membership for only £10 and gain insignts into all the latest news and discounts here at Wizard Sports!</p>
<br />
<p>Discounts are updated weekly and offer great savings to our previous customers.</p>
<br />
<p>Click here to purchase your premium membership:</p>
@Html.ActionLink("Purchase Premium Membership", "Index", "Home") <br />
<a href="https://localhost:44376/Home/Details/cd90e605-df9c-49aa-96d5-5e0960c0e3f5">Purchase Membership</a>

